Code/
Mullvad VPN/
abrt/
alacritty/
dconf/
enchant/
evolution/
gnome-session/
goa-1.0
gtk-2.0
gtk-3.0
gtk-4.0
i3status-rust/
ibus/
menus/
nautilus/
neofetch/
obs-studio/
qBittorrent/
spicy/
GNOME-xdg-terminals.list
QtProject.conf
gnome-initial-setup-done
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
xdg-terminals.list

